<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MIS_ProgressiveDistributors.Properties.Settings.ProgressiveMISConnectionString" connectionString="Data Source=192.168.1.101;Initial Catalog=ProgressiveMIS;User ID=sa;Password=LolLol129" providerName="System.Data.SqlClient"/>
        <add name="MIS_ProgressiveDistributors.Properties.Settings.ProgressiveMISConnectionString1" connectionString="Data Source=192.168.1.101;Initial Catalog=ProgressiveMIS;Persist Security Info=True;User ID=sa;Password=LolLol129" providerName="System.Data.SqlClient"/>
        <add name="MIS_ProgressiveDistributors.Properties.Settings.ProgressiveMISConnectionString2" connectionString="Data Source=192.168.1.101;Initial Catalog=ProgressiveMIS;Persist Security Info=True;User ID=sa;Password=LolLol129" providerName="System.Data.SqlClient"/>
        <add name="MIS_ProgressiveDistributors.Properties.Settings.ProgressiveMISConnectionString3" connectionString="Data Source=192.168.1.101;Initial Catalog=ProgressiveMIS;Persist Security Info=True;User ID=sa;Password=LolLol129" providerName="System.Data.SqlClient"/>
        <add name="MIS_ProgressiveDistributors.Properties.Settings.ProgressiveMISConnectionString4" connectionString="Data Source=192.168.1.101;Initial Catalog=ProgressiveMIS;Persist Security Info=True;User ID=sa;Password=LolLol129" providerName="System.Data.SqlClient"/>
        <add name="MIS_ProgressiveDistributors.Properties.Settings.ProgressiveMISConnectionString5" connectionString="Data Source=192.168.1.101;Initial Catalog=ProgressiveMIS;Persist Security Info=True;User ID=sa;Password=LolLol129" providerName="System.Data.SqlClient"/>
        <add name="MIS_ProgressiveDistributors.Properties.Settings.ProgressiveMISConnectionString6" connectionString="Data Source=192.168.1.101;Initial Catalog=ProgressiveMIS;User ID=sa;Password=LolLol129" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
